
  
/* *{
} */

.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    margin-left:24% ;

}
.nan{
    border-radius: 10px 10px 10px 10px;
    padding-top: 2%;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    border-color: rgb(21, 21, 22);
    text-align: center;
}
.check{

    padding-top: 2%;
    margin-left: 42%;
    margin-right: 4%;
    width:15%;
    height: 5%;

}
#check-button{
    height: 30px;
    background-color: rgb(194, 42, 92);
    color: white;
    
    
}
.change-table{
   width: 100%;
   border: 1px solid crimson;
   margin-top: 20px;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
}
table td {
    padding: 0.2rem;
    border: 1px solid crimson;
}
table th {
    padding: 0.2rem;
    border: 1px solid crimson;
}
.background{
    background-image: url('dot.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 10; 
       

}
.description{
    color: white;
}
